In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [7]:
heart_disease = pd.read_csv('heart-disease.csv')

In [8]:
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [11]:
heart_disease.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [12]:
#make data labeled
#x is input 
#y is output

In [13]:
x = heart_disease.drop('target',axis = 1)
# axis one is mean start from column 1 (the second column'age') 
#column 1 is the index

In [14]:
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [15]:
y = heart_disease['target']
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split

In [18]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2)

In [19]:
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
72,29,1,1,130,204,0,0,202,0,0.0,2,0,2
244,56,1,0,132,184,0,0,105,1,2.1,1,1,1
140,51,0,2,120,295,0,0,157,0,0.6,2,0,2
209,59,1,0,140,177,0,1,162,1,0.0,2,1,3
288,57,1,0,110,335,0,1,143,1,3.0,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,45,0,0,138,236,0,0,152,1,0.2,1,0,2
22,42,1,0,140,226,0,1,178,0,0.0,2,0,2
201,60,1,0,125,258,0,0,141,1,2.8,1,1,3
50,51,0,2,130,256,0,0,149,0,0.5,2,0,2
165,67,1,0,160,286,0,0,108,1,1.5,1,3,2

In [20]:
x_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
64,58,1,2,140,211,1,0,165,0,0.0,2,0,2
224,54,1,0,110,239,0,1,126,1,2.8,1,1,3
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2
73,51,1,0,140,261,0,0,186,1,0.0,2,0,2
137,62,1,1,128,208,1,0,140,0,0.0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,61,1,0,120,260,0,1,140,1,3.6,1,1,3
228,59,1,3,170,288,0,0,159,0,0.2,1,0,3
124,39,0,2,94,199,0,1,179,0,0.0,2,0,2
97,52,1,0,108,233,1,1,147,0,0.1,2,3,3
240,70,1,2,160,269,0,1,112,1,2.9,1,1,3

In [21]:
y_train

72     1
244    0
140    1
209    0
288    0
      ..
107    1
22     1
201    0
50     1
165    0
Name: target, Length: 242, dtype: int64

In [22]:
y_test

64     1
224    0
6      1
73     1
137    1
      ..
211    0
228    0
124    1
97     1
240    0
Name: target, Length: 61, dtype: int64

In [23]:
from sklearn.ensemble import RandomForestClassifier

In [24]:
model = RandomForestClassifier()

In [25]:
model.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [26]:
model.fit(x_train,y_train)

RandomForestClassifier()

In [28]:
y_predict = model.predict(x_test)

In [29]:
y_predict

array([1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0], dtype=int64)

In [30]:
y_test

64     1
224    0
6      1
73     1
137    1
      ..
211    0
228    0
124    1
97     1
240    0
Name: target, Length: 61, dtype: int64

In [31]:
# evaluate the model
model.score(x_train,y_train)

1.0

In [32]:
model.score(x_test,y_test)

0.819672131147541

In [33]:
from sklearn.metrics import accuracy_score

In [35]:
accuracy_score(y_predict,y_test)

0.819672131147541